samples: config/samplesheet.tsv
outdir: results
species: mouse

ref:
  genome.fa: ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M32/GRCm39.genome.fa.gz
  txome.fa: ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M32/gencode.vM32.transcripts.fa.gz
  txome.gtf: ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M32/gencode.vM32.basic.annotation.gtf.gz
  rmsk.gtf: https://labshare.cshl.edu/shares/mhammelllab/www-data/TEtranscripts/TE_GTF/GRCm39_GENCODE_rmsk_TE.gtf.gz
  rmsk.locInd: https://labshare.cshl.edu/shares/mhammelllab/www-data/TElocal/prebuilt_indices/GRCm39_GENCODE_rmsk_TE.gtf.locInd.gz

trimming:
  activate: True

filterTSOforTE:
  activate: False
  TSO: AAGCAGTGGTATCAACGCAGAGTACATGGG

salmon:
  numBootstraps: 30
  extra: --gcBias --posBias --seqBias --gencode

de:
  # contrasts for the deseq2 results method
  contrasts:
    celltype_npc_vs_neuron:
      - npc
      - neuron
  model: ~celltype
  cutoffs:
    log2FoldChange: 0.5
    FDR: 0.05
